img{
  width: 100%;
  height:auto;
}
body{
  overflow-x: hidden;
}
a{
  text-decoration: none;
}
html{
  font-size: 100%;
  @media screen and (min-width: $break-large ) and (max-width: $break-font){ 
    font-size: 90%; 
  }
}
*{
  box-sizing:border-box;
}

