// -----------------------------------------
	// Layout Breakpoints
// -----------------------------------------
$maxWidth: 1280;


// -----------------------------------------
	// Font Sizes
// -----------------------------------------
$regularSize: 12;
$break-large:768px;
$break-font:812px;

// -----------------------------------------
	// Font Families
// -----------------------------------------
$primaryFont: HUGEAvantGardeBold;


// -----------------------------------------
	// Colors
// -----------------------------------------


$primaryColor:rgba(217,40,130,0.9);
$color: white;
$LightGray:#eee;
$TranslucentBlack:rgba(0, 0, 0, 0.5);

